<div class="jumbotron">
  <h2>Welcome to the Form.IO movie application!</h2>
  <p><a class="btn btn-lg btn-success" ui-sref="movieIndex()">Go to the movies!</a></p>
</div>

<div class="row marketing">
  <h4>Form.IO Demo Application</h4>
  <p>
    This is a demo application showing off the power of Form.IO.
  </p>
  <h4>Angular</h4>
  <p>
    Form.IO leverages AngularJS for its integrated form technology. Simply use the <strong>&lt;formio&gt;</strong> tag to
    integrate your forms into your application. It's as easy as adding an image to your web application!
  </p>
</div>
