<div class="jumbotron">
  <h2>Welcome to the Patient Portal</h2>
  <p><a class="btn btn-lg btn-success" ui-sref="newPatient()">Fill out new patient form</a></p>
</div>

<div class="row marketing">
  <h4>Patient Portal</h4>
  <p>The patient portal allows you to easily register as a new patient for our clinic using a simple online form. All
  your records are available through our portal for your review and verification.</p>
  <h4>Angular</h4>
  <p>
    Our patient portal leverages the power of the Form.IO platform. The Form.IO platform is a form based platform that
    serves as a standardized platform for offices and clinics accross the nation.
  </p>
</div>
